﻿@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />
	<link rel="canonical" href="https://demo-basic.adminkit.io/" />
	<title> Dashboard </title>
	<link href="~/css/admin.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link href="~/css/admin.css" rel="stylesheet">
	<link rel="stylesheet" href="~/css/styles.css" />
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html">
					<span class="align-middle">Dashboard </span>
				</a>
				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Pages
					</li>

					<li class="sidebar-item active">
						<a class="sidebar-link" href="index.html">
							<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="pages-profile.html">
							<i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
						</a>
					</li>


					<li class="sidebar-item">
						<a class="sidebar-link" href="pages-blank.html">
							<i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Manage Users</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="pages-blank.html">
							<i class="align-middle" data-feather="package"></i> <span class="align-middle">Manage Products</span>
						</a>
					</li>


					<li class="sidebar-item">
						<a class="sidebar-link" href="pages-blank.html">
							<i class="align-middle" data-feather="box"></i> <span class="align-middle">Manage orders</span>
						</a>
					</li>


					<li class="sidebar-item">
						<a class="sidebar-link" href="ui-forms.html">
							<i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Forms</span>
						</a>
					</li>

					<li class="sidebar-header">
						Other Services
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="charts-chartjs.html">
							<i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Product Inventory</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="maps-google.html">
							<i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
					<i class="hamburger align-self-center"></i>
				</a>

				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
								<div class="position-relative">
									<i class="align-middle" data-feather="bell"></i>
									<span class="indicator">4</span>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
								<div class="dropdown-menu-header">
									4 New Notifications
								</div>
								<div class="list-group">
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-danger" data-feather="alert-circle"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">Update completed</div>
												<div class="text-muted small mt-1">Restart server 12 to complete the update.</div>
												<div class="text-muted small mt-1">30m ago</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-warning" data-feather="bell"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">Lorem ipsum</div>
												<div class="text-muted small mt-1">Aliquam ex eros, imperdiet vulputate hendrerit et.</div>
												<div class="text-muted small mt-1">2h ago</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-primary" data-feather="home"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">Login from 192.186.1.8</div>
												<div class="text-muted small mt-1">5h ago</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-success" data-feather="user-plus"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">New connection</div>
												<div class="text-muted small mt-1">Christina accepted your request.</div>
												<div class="text-muted small mt-1">14h ago</div>
											</div>
										</div>
									</a>
								</div>
								<div class="dropdown-menu-footer">
									<a href="#" class="text-muted">Show all notifications</a>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
								<div class="position-relative">
									<i class="align-middle" data-feather="message-square"></i>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
								<div class="dropdown-menu-header">
									<div class="position-relative">
										4 New Messages
									</div>
								</div>
								<div class="list-group">
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<img src="img/avatars/avatar-5.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
											</div>
											<div class="col-10 ps-2">
												<div class="text-dark">Vanessa Tucker</div>
												<div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu tortor.</div>
												<div class="text-muted small mt-1">15m ago</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<img src="img/avatars/avatar-2.jpg" class="avatar img-fluid rounded-circle" alt="William Harris">
											</div>
											<div class="col-10 ps-2">
												<div class="text-dark">William Harris</div>
												<div class="text-muted small mt-1">Curabitur ligula sapien euismod vitae.</div>
												<div class="text-muted small mt-1">2h ago</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<img src="img/avatars/avatar-4.jpg" class="avatar img-fluid rounded-circle" alt="Christina Mason">
											</div>
											<div class="col-10 ps-2">
												<div class="text-dark">Christina Mason</div>
												<div class="text-muted small mt-1">Pellentesque auctor neque nec urna.</div>
												<div class="text-muted small mt-1">4h ago</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<img src="img/avatars/avatar-3.jpg" class="avatar img-fluid rounded-circle" alt="Sharon Lessman">
											</div>
											<div class="col-10 ps-2">
												<div class="text-dark">Sharon Lessman</div>
												<div class="text-muted small mt-1">Aenean tellus metus, bibendum sed, posuere ac, mattis non.</div>
												<div class="text-muted small mt-1">5h ago</div>
											</div>
										</div>
									</a>
								</div>
								<div class="dropdown-menu-footer">
									<a href="#" class="text-muted">Show all messages</a>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
								<i class="align-middle" data-feather="settings"></i>
							</a>

							<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
								<img src="img/avatars/avatar.jpg" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> <span class="text-dark">Charles Hall</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
								<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="pie-chart"></i> Analytics</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="index.html"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>
								<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Log out</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<main class="content pt-2 ">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3 text-center">Product Inventory Management</h1>
					<div class="container">

						<div class="table-responsive">

							<table class="table custom-table">
								<thead>
									<tr>
										<th scope="col">
											<label class="control control--checkbox">
												<input type="checkbox" class="js-check-all" />
												<div class="control__indicator"></div>
											</label>
										</th>
										<th scope="col">Order</th>
										<th scope="col">Name</th>
										<th scope="col">Occupation</th>
										<th scope="col">Contact</th>
										<th scope="col">
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
												+
											</button>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">
											<label class="control control--checkbox">
												<input type="checkbox" />
												<div class="control__indicator"></div>
											</label>
										</th>
										<td>
											1392
										</td>
										<td>James Yates</td>
										<td>
											Web Designer
											<small class="d-block">Far far away, behind the word mountains</small>
										</td>
										<td>+63 983 0962 971</td>
										<td>NY University</td>
									</tr>
									<tr>
										<th scope="row">
											<label class="control control--checkbox">
												<input type="checkbox" />
												<div class="control__indicator"></div>
											</label>
										</th>
										<td>4616</td>
										<td>Matthew Wasil</td>
										<td>
											Graphic Designer
											<small class="d-block">Far far away, behind the word mountains</small>
										</td>
										<td>+02 020 3994 929</td>
										<td>London College</td>
									</tr>
									<tr>
										<th scope="row">
											<label class="control control--checkbox">
												<input type="checkbox" />
												<div class="control__indicator"></div>
											</label>
										</th>
										<td>9841</td>
										<td>Sampson Murphy</td>
										<td>
											Mobile Dev
											<small class="d-block">Far far away, behind the word mountains</small>
										</td>
										<td>+01 352 1125 0192</td>
										<td>Senior High</td>
									</tr>
									<tr>
										<th scope="row">
											<label class="control control--checkbox">
												<input type="checkbox" />
												<div class="control__indicator"></div>
											</label>
										</th>
										<td>9548</td>
										<td>Gaspar Semenov</td>
										<td>
											Illustrator
											<small class="d-block">Far far away, behind the word mountains</small>
										</td>
										<td>+92 020 3994 929</td>
										<td>College</td>
									</tr>

								</tbody>
							</table>
						</div>


					</div>
				
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form method="post" enctype="multipart/form-data">
										<div class="form-group">
											<label for="name">Name</label>
											<input type="text" id="product_name" name="product" class="form-control" />
										</div>
										<div class="form-group">
											<label for="name">Description</label>
											<input type="text" id="product_description"  name="description"class="form-control" />
										</div>
										<div class="form-group">
											<label for="name">Price</label>
											<input type="text" id="product_price" name="price" class="form-control" />
										</div>
										<div class="form-group">
											<label for="name">Product Category</label>
											<select name="category"  class="form-control">
												@foreach(var categories in ViewBag.Category)
												{
													<option value="@categories.Id"  >@categories.Name</option>
												}
											</select>
										</div>

										<div class="form-group">
											<label for="name">Image</label>
											<input type="file" id="product_image" name="image" class="form-control" />
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="button" id="add_product" class="btn btn-primary">Add Product</button>
											
										</div>
									</form>
								</div>
								
							</div>
						</div>
					</div>


				</div>
			</main>


		</div>
	</div>

	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/app.js"></script>
	/**
	<script>
		
		document.getElementById("add_product").addEventListener("click", function(){
			
			var product = {
				"product":{
					name: 'product',
					price: 200,
					description : 'apple pie'
				},
				"prodImage":{
					FileName: "brown.png"
				}
				
			}
			var formData = new FormData();
			var files = $("#product_image").get(0).files;
			for (var i=0; i < files.length; i++){
				formData.append("image", files[i])
			}
			formData.append("name", $("#product_name").val());
			formData.append("description", $("#product_description").val())
			formData.append("price", $("#product_price").val())
			//formData.append("image", $("#product_image").val())
			//console.log($("#product_image").val());
			console.log(JSON.stringify(product));
			$.ajax({
				type: "POST",
				enctype: "multipart/form-data",
				url : "@Url.Action("AddProduct")",
				data : formData,
				processData: false,
				contentType: false,
				//contentType: 'application/json; charset=utf-8',
				//async: true,
				//cache: false,
				success: function(data){
					$("#exampleModal").close();
				}, 
				error:function(e){
					console.log(e.status)
					alert(e.status);
				}
			})
		})
		console.log("started the process to process form");
		
	</script>



	<script src="~/js/site.js" asp-append-version="true"></script>


</body>

</html>