
<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="index.html">
			<span class="align-middle">Dashboard </span>
		</a>
		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Pages
			</li>

			<li class="sidebar-item active">
				<a class="sidebar-link" href="index.html">
					<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="pages-profile.html">
					<i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
				</a>
			</li>


			<li class="sidebar-item">
				<a class="sidebar-link" asp-controller="Office" asp-action="CustomerView">
					<i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Manage Users</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" asp-controller="Office" asp-action="Product">
					<i class="align-middle" data-feather="package"></i> <span class="align-middle">Manage Products</span>
				</a>
			</li>


			<li class="sidebar-item">
				<a class="sidebar-link" href="pages-blank.html">
					<i class="align-middle" data-feather="box"></i> <span class="align-middle">Manage orders</span>
				</a>
			</li>


			<li class="sidebar-item">
				<a class="sidebar-link" href="ui-forms.html">
					<i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Forms</span>
				</a>
			</li>

			<li class="sidebar-header">
				Other Services
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="charts-chartjs.html">
					<i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Product Inventory</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a class="sidebar-link" href="maps-google.html">
					<i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
				</a>
			</li>
		</ul>
	</div>
</nav>